# Dependencies
node_modules/
__pycache__/
*.pyc
.ruff_cache/

# Build
dist/
build/
*.egg-info/

# Environment
.env
.env.local
.config/
*.log
.env.example


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker volumes
pgdata/
redisdata/

idea.txt
implementation_plan.md
uploads/